# Python
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/*.db
backend/.env
backend/token.json
backend/credentials.json

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages
mobile/pubspec.lock

# macOS
.DS_Store
**/.DS_Store

# IDE
.idea/
.vscode/
*.swp
